{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<div class="config-editor">
	<div class="flex gap-10 margin-block-10">
		<button class="button" data-load>Load</button>
		<button class="button button-primary" data-save>Save</button>
		<div class="size-small text-subdue status" role="status" aria-live="polite"></div>
	</div>
	<textarea class="config-editor-textarea" style="width:100%;min-height:300px;font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, monospace;" spellcheck="false"></textarea>
</div>
{{ end }}


